/* 
font-family: 'Dosis', sans-serif;
font-family: 'Sniglet', cursive;
font-family: 'Lato', sans-serif; 
*/
/* global css start */
body{
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none !important;
}
.sec-header{

}
.sec-header h1{
    width: 460px;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 5px dotted white;
    padding-bottom: 10px;
    text-shadow: 2px 2px 5px #bbbbbb;
}
.c_btn{
    background-color: white;
    padding: 10px 35px;
    border-radius: 50px 10px 10px 50px;
    -webkit-border-radius: 50px 10px 10px 50px;
    -moz-border-radius: 50px 10px 10px 50px;
    -ms-border-radius: 50px 10px 10px 50px;
    -o-border-radius: 50px 10px 10px 50px;
    box-shadow: 8px 10px 8px #000000;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.c_btn:hover{
    background-color: #f05c5c;
    color: white !important;
    box-shadow: 8px 10px 8px #a8a3a3;
}
.pb-100{
    padding-bottom: 200px;
}
.mb-100{
    margin-bottom: 100px;
}
/* global css end */
/* header start */
header{
    background-color: #ffd338;
}
.logo{
    width: 100%;
}

.menu ul li a{
    font-size: 18px;
    font-weight: 700px !important;
    color: white !important;
    margin-bottom: 8px !important;
    padding: 2px 20px !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.menu ul li a:hover{
    background-color: #f05c5c;
}
.dropdown-toggle::after {
    display: none;
}

.d_user_a, .d_search_a{
    width: 40px;
    height: 40px;
    padding: 5px;
    color: white ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.d_user_a i, .d_search_a i{
    padding-bottom: -2px !important;
}
.d_user_a:hover, .d_search_a:hover{
    color: #f05c5c;
}
.d_user_a:focus, .d_search_a:focus{
    outline: 0;
    box-shadow: 0 0 10px 2px #ffffff;
}
.d_user ul, .d_search ul{
    background-color: #ffd338 !important;
    left: -5px;
    top: 160%;
    padding: 0.5rem 10px;
}
.d_search ul{
   width: 300px;
   left: -135px;
}
.src-btn{
    background-color: transparent;
    border: none;
    border-radius: 30px;
    color: white;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.form-control{
    height: 35px;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #f05c5c;
    outline: 0;
    box-shadow: 0 0 10px 2px #f18f8f;
}
.src-btn:focus {
    outline: none;
    box-shadow: 0 0 10px 2px #f18f8f;
}
.src-btn:hover {
    color: #f05c5c;
}
/* header end */

/* banner start */
.banner{
    background-image: url(../images/header-media.jpg);
    background-size: cover;
    background-position: center;
    min-height: 660px;
    background-color: #bbbbbb;
    position: relative;
}
.banner img{
    width: 100%;
}
.banner-text{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.11), white);
    position: absolute;
    top: 0px;
    left: 0%;
}
.banner-text h1{
    margin-top: 200px;
    font-size: 48px;
    color: #ffffff;
}

/* banner end */
/* kid edu start */
.kid-edu{
    position: relative;
}
.kid-edu img{
    width: 100%;
}
.scroll-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.scroll-text p{
    font-family: 'Lato', sans-serif; 
    font-size: 18px;
    color: #bbbbbb;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
    padding-top: 10px;
}
.scroll-text p i{
    font-size: 30px;
    color: #bbbbbb;
}

.scroll-text p i:hover{
    color: #f05c5c;
}

.kid-edu-text{
}
.kid-edu-text:hover{
}
.kid-edu-text h2{
    font-size: 24px;

}
.kid-edu-text p{
    font-family: 'Lato', sans-serif;
    line-height: 30px;
}
.kid-edu-img{
    overflow: hidden;
    height: 320px;
    position: relative;
}
.kid-edu-img img{
    position: absolute;
    top: -20px;
    left: -138px;
    width: 195%;
    height: 195%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.kid-edu-img:hover img{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    
}
.about-overlay{
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.363);
    right: -100%;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.about-overlay .c_btn{
    margin: 50% 40px;
}
.kid-edu-img:hover .about-overlay{
    right: 0px;
}
/* kid edu end */
